<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<title>商品分类</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel="stylesheet" type="text/css" href="public/css/reset.css" />
		<link rel="stylesheet" href="css/head.css" />
		<link rel="stylesheet" type="text/css" href="css/goods.css" />
		<script type="text/javascript" src="public/js/public.js"></script>
		<script type="text/javascript" src="public/js/jquery.min.js"></script>
		<script type="text/javascript" src="public/js/vue.min.js"></script>
	</head>

	<body>
		<!--头部-->
		<header class="bxg-header">
			零食小站
		</header>
		<div class="bxg-content">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="content">
							<div class="left" id="left">
								<ul>
									<li class="list" v-for="item in items">{{item.name}}</li>
								</ul>
							</div>
							<div class="right" id="right">
								<ul>
									<li v-for="item in items">
										<div class="class-title">{{item.class}}</div>
										<div class="goods-list" v-for="ite in item.list">
											<div class="item">
												<div class="item-left">
													<div class="item-img">
														<img v-bind:src='ite.img' alt="" />
													</div>
												</div>
												<div class="item-right">
													<div class="title">{{ite.title}}</div>
													<div class="subtitle">月销{{ite.subtitle}}</div>
													<div class="price">￥{{ite.price}}</div>
												</div>
											</div>
											<div class="bxg-goods-num">
												<strong class="bxg-minus" v-on:click="minNum(index)">-</strong>
												<span class="bxg-number">{{item.num}}</span>
												<strong class="bxg-add" v-on:click="addNum(item)">+</strong>
											</div>
										</div>
										
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

		
		<script type="text/javascript">
			$(function() {
				$('.content').css('height', $('.right').height());
				$('.left ul li').eq(0).addClass('active');
				$(window).scroll(function() {
					if($(window).scrollTop() >= 150) {
						$('.swiper-container-ul').css('position', 'fixed');
						$('.left').css('position', 'fixed');
						$('.right').css('margin-left', $('.left').width());
					} else {
						$('.swiper-container-ul').css('position', '');
						$('.left').css('position', '');
						$('.right').css('margin-left', '');
					};
					//滚动到标杆位置,左侧导航加active
					$('.right ul li').each(function() {
						var target = parseInt($(this).offset().top - $(window).scrollTop() - 150);
						var i = $(this).index();
						if(target <= 0) {
							$('.left ul li').removeClass('active');
							$('.left ul li').eq(i).addClass('active');
						}
					});
				});
				$('.left ul li').click(function() {
					var i = $(this).index('.left ul li');
					$('body, html').animate({ scrollTop: $('.right ul li').eq(i).offset().top - 40 }, 500);
				});
			});
		</script>
		<script>
			var left = new Vue({
				el: '#left',
				data: {
					items: [
						{ name: '饮料' },
						{ name: '酒水' },
						{ name: '主食' },
						{ name: '小炒' },
						{ name: '盖饭' },
						{ name: '饮料' },
						{ name: '酒水' },
						{ name: '主食' },
						{ name: '小炒' },
						{ name: '盖饭' },
						{ name: '饮料' },
						{ name: '酒水' },
						{ name: '主食' },
						{ name: '小炒' },
						{ name: '盖饭' },
						{ name: '饮料' },
						{ name: '酒水' },
						{ name: '主食' },
						{ name: '小炒' },
						{ name: '盖饭' },
						{ name: '饮料' },
						{ name: '酒水' },
						{ name: '主食' },
						{ name: '小炒' },
						{ name: '盖饭' }

					]
				}
			});
			var right = new Vue({
				el: '#right',
				data: {
					items: [
						{ class: '饮料', list: [
								{ title: '冰红茶', subtitle: '15', price: '12',img:'http://img.bxgogo.com/images/goods/goods_img/20171120/201711201156131721.jpeg?x-oss-process=image/quality,q_25/format,jpg'}, 
								{ title: '绿茶' }
							]
						},
						{ class: '酒水', list: [{ title: '1' }, { title: '2' }] },
						{ class: '主食', list: [{ title: '1' }, { title: '2' }] },
						{ class: '小炒', list: [{ title: '1' }, { title: '2' }] },
						{ class: '盖饭', list: [{ title: '1' }, { title: '2' }] }
					]
				}
			});
		</script>

	</body>

</html>