<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>零食小站</title>
		<link rel="stylesheet" type="text/css" href="public/css/reset.css"/>
		<link rel="stylesheet" href="public/css/swiper.min.css" />
		<link rel="stylesheet" href="css/head.css"/>
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="public/js/jquery.min.js" ></script>
		<script type="text/javascript" src="public/js/public.js" ></script>
		<script type="text/javascript" src="public/js/vue.min.js" ></script>
		<script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.js" type="text/javascript" charset="utf-8"></script>    
		<script type="text/javascript" src="public/js/swiper.min.js" ></script>
	</head>
	<body>
		<!--头部-->
		<header class="bxg-header">
			零食小站
		</header>
		
		<div class="bxg-content" id="goods-list">
			<div class="bxg-goods-classify">
				<div class="bxg-goods-bar">
					<ul>
						<li v-for="(bar,index) in bars" v-if="index == 0":class="{barActive:true}" v-on:click="listScroll(index)">{{bar.class}}</li>
						<li v-else class="{barActive:barisActive}" v-on:click="listScroll(index)">{{bar.class}}</li>
					</ul>
				</div>
				<div class="bxg-goods-list">
					<ul>
						<li v-for="(bar,index) in bars">
							<div class="bxg-title">{{bar.class}}</div>
							<div class="goods-list"  v-for="(goods,index) in bar.list">
								<div class="bxg-item bxg-clear">
									<div class="bxg-goods-img">
										<img v-lazy='goods.img' src="" alt="" />
									</div>
									<div class="bxg-goods-content">
										<span>{{goods.name}}</span>
										<span>月销{{goods.sales}}</span>
										<span><small>￥</small>{{goods.price}}</span>
									</div>
								</div>
								
								<div class="bxg-goods-num">
									<strong class="bxg-minus" v-if="goods.num == 0":class="{isHide:true}">-</strong>
									<strong v-else class="bxg-minus" v-on:click="minNum(goods,index)" class="{isHide:false}" >-</strong>
									<span class="bxg-number" v-if="goods.num == 0":class="{isHide:true}">{{goods.num}}</span>
									<span v-else class="{isHide:false}">{{goods.num}}</span>
									<strong class="bxg-add" v-on:click="addNum(goods,5)">+</strong>
								</div>
							</div> 
						</li>
					</ul>
				</div>
			</div>
			
			<div class="bxg-footer" id="bxg-footer">
				<div class="goodsNum" v-if="num == 0":class="{isHide:true}">{{num}}</div>
				<div class="goodsNum" v-else>{{num}}</div>
				<ul>
					<li v-for="list in lists">
						<a v-bind:href = 'list.href' title="">
							<i class="bxg-footer-icon"></i>
							{{list.nav}}
						</a>
					</li>
				</ul>
			</div>
			 
		</div>
		<script type="text/javascript" src="js/vue-lazyload.js" ></script>
		<script type="text/javascript">
			$(function(){
				
				var cartList = new Vue({
					el:'#goods-list',
					data: {
						num:0,
						barisActive:false,
						bars:[],
						addBars:[],
						lists:[],
						page:1
					},
					created:function(){
						this.getBars();
						this.getfooter();
						this.listen();
					},
					methods: {
						getBars:function(){
							var sellerid = this.getRequest();
							var that = this;
							that.$http({           //调用接口
		                        method:'GET',
		                        params:{a:1},
		                        url:"json/bars.json"  //this指data
		                    }).then(function(res){  //接口返回数据
		                        this.bars=res.data;
		                        this.addBars = res.data;
		                    },function(error){
		                    	
		                    })
						},
						getRequest:function(){
							var url = location.search; 
						   	if (url.indexOf("?") != -1) {
						      	var str = url.substr(1);
						      	strs = str.split("=")[1];
						      	return strs;
						   	}
						},
						getfooter:function(){
							var that = this;
							that.$http({           //调用接口
		                        method:'GET',
		                        url:"json/footer.json"  //this指data
		                    }).then(function(res){  //接口返回数据
		                    	var sellerid = this.getRequest();
		                        this.lists=res.data;
		                        this.lists[3].href=this.lists[3].href+sellerid;
		                        
		                    },function(error){
		                    	
		                    })
						},
					  	goodsNum: function () {
					  		var sum = 0;
					  		this.items.forEach(function(item,index){
					  			sum += Number(item.num);
					  		});
					  		return sum;
					  	},
					  	addNum:function(goods,sumNum){
					  		var number = goods.num+1;
					  		console.log(number+'====='+sumNum);
					  		var tar = event.target;
					  		if(number == sumNum){
					  			tar.style.background='#ccc';
					  			this.num++;
					  			goods.num++;
					  		}else if(number < sumNum){
					  			this.num++;
					  			goods.num++;
					  		}
					  	},
					  	minNum:function(goods,index){
					  		this.num--;
					  		var tar = event.target;
					  		var parentIndex = $(tar).parents('li').index();
					  		this.bars[parentIndex].list[index].num--;
					  	},
					  	listScroll:function(index){
					  		var h = $(".bxg-goods-list ul li").eq(index).offset().top-$(".bxg-header").height();
							$("body").scrollTop(h);
							
							$(".bxg-goods-list ul li").eq(index).siblings('li').removeClass('barActive');
							

					  	},
					  	content:function(){
					  		var that = this;
					  		that.$http({           //调用接口
				                method:'GET',
				                params:{a:1},
				                url:"json/bars2.json"  //this指data
				            }).then(function(res){  //接口返回数据
//				            	console.log("加载中");
//				            	console.log(typeof(res));
				                        this.bars = this.addBars.concat(res.data);
//				                        console.log(this.bars);
				            },function(error){
				                    	
				            })
					  	},
					  	listen:function(){
					  		var that = this;
					  		$(window).on('scroll',function(){
					  			if($(document).scrollTop() >= $(document).height()-$(window).innerHeight()-100){
					  				that.content();
					  			}
					  		}); 
					  	}

					}
				});
				Vue.use(VueLazyload, {
					preLoad: 1,    //预加载高度的比例
					error: 'http://m.bxgogo.com/static/img/mr.png',  //图像的src加载失败
					loading: 'http://m.bxgogo.com/static/img/mr.png', //src的图像加载
					attempt: 1,  //尝试计数
					listenEvents: [ 'scroll', 'mousewheel' ]
				});

				$(window).scroll(function() {
					//滚动到标杆位置,左侧导航加active
					$('.bxg-goods-list ul li').each(function() {
						var target = parseInt($(this).offset().top - $(window).scrollTop() - 150);
						var i = $(this).index();
						var wh = $(window).innerHeight();
						var top = $('.bxg-goods-bar ul li').eq(i).html();
						if(target <= 0) {
							$('.bxg-goods-bar ul li').removeClass('barActive');
							$('.bxg-goods-bar ul li').eq(i).addClass('barActive');

//							console.log(i+'------'+h);
//							if(h > wh-100){
//								$('.bxg-goods-bar').scrollTop(-(h-wh-100));
//							}
						}else{
							return false;
						}
						
					});
				});
			});
		</script>
	</body>
</html>
