<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>零食小站</title>
		<link rel="stylesheet" type="text/css" href="public/css/reset.css"/>
		<link rel="stylesheet" href="public/css/swiper.min.css" />
		<link rel="stylesheet" href="css/head.css"/>
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="public/js/jquery.min.js" ></script>
		<script type="text/javascript" src="public/js/public.js" ></script>
		<script type="text/javascript" src="public/js/vue.min.js" ></script>
		<script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.js" type="text/javascript" charset="utf-8"></script>    
		<script type="text/javascript" src="public/js/swiper.min.js" ></script>
	</head>
	<body>
		<!--头部-->
		<header class="bxg-header">
			零食小站
		</header>
		
		<div class="bxg-content" id="goods-list">
			<div class="bxg-goods-classify">
				<div class="bxg-goods-bar">
					<ul>
						<li v-for="(bar,index) in bars" v-if="index == 0":class="{barActive:true}" v-on:click="listScroll(index)">{{bar.class}}</li>
						<li v-else class="{barActive:barisActive}" v-on:click="listScroll(index)">{{bar.class}}</li>
					</ul>
				</div>
				<div class="bxg-goods-list">
					<ul>
						<li v-for="(bar,index) in bars">
							<div class="bxg-title">{{bar.class}}</div>
							<div class="goods-list" v-for="goods in bar.list">
								<div class="bxg-item bxg-clear">
									<div class="bxg-goods-img">
										<img v-bind:src='goods.img' alt="" />
									</div>
									<div class="bxg-goods-content">
										<span>{{goods.name}}</span>
										<span>月销{{goods.sales}}</span>
										<span><small>￥</small>{{goods.price}}</span>
									</div>
								</div>
								<div class="bxg-goods-num">
									<strong class="bxg-minus" v-on:click="minNum(index)">-</strong>
									<span class="bxg-number">{{goods.num}}</span>
									<strong class="bxg-add" v-on:click="addNum(item)">+</strong>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="bxg-footer" id="bxg-footer">
				<ul>
					<li v-for="list in lists">
						<a v-bind:href = 'list.href' title="">
							<i class="bxg-footer-icon"></i>
							{{list.nav}}
						</a>
					</li>
				</ul>
			</div>
			
		</div>
		<script type="text/javascript">
			$(function(){
				
				var cartList = new Vue({
					el:'#goods-list',
					data: {
						barisActive:false,
						bars:[],
						lists:[]
					},
					created:function(){
						this.getBars();
						this.getfooter();
					},
					methods: {
						getBars:function(){
							var that = this;
							that.$http({           //调用接口
		                        method:'GET',
		                        url:"json/bars.json"  //this指data
		                    }).then(function(res){  //接口返回数据
		                        this.bars=res.data;
		                        
		                    },function(error){
		                    	
		                    })
						},
						getfooter:function(){
							var that = this;
							that.$http({           //调用接口
		                        method:'GET',
		                        url:"json/footer.json"  //this指data
		                    }).then(function(res){  //接口返回数据
		                        this.lists=res.data;                        
		                    },function(error){
		                    	
		                    })
						},
					  	goodsNum: function () {
					  		var sum = 0;
					  		this.items.forEach(function(item,index){
					  			sum += Number(item.num);
					  		});
					  		return sum;
					  	},
					  	addNum:function(item){
					  		
					  		item.num++;
					  	},
					  	minNum:function(index){
					  		this.items[index].num--;
					  		if(this.items[index].num == 0){
					  			this.items.splice(index,1);  
					  		}
					  	},
					  	listScroll:function(index){
					  		var h = $(".bxg-goods-list ul li").eq(index).offset().top-$(".bxg-header").height();
							$("body").animate({
								'scrollTop':h
							},600);
							console.log(h);
					  	}
					  
					  	
					}
				});
				

				$(window).scroll(function() {
					//滚动到标杆位置,左侧导航加active
					$('.bxg-goods-list ul li').each(function() {
						var target = parseInt($(this).offset().top - $(window).scrollTop() - 150);
						var i = $(this).index();
						if(target <= 0) {
							$('.bxg-goods-bar ul li').removeClass('barActive');
							$('.bxg-goods-bar ul li').eq(i).addClass('barActive');
						}
					});
				});
			});
		</script>
	</body>
</html>
