<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>选择学校</title>
		<link rel="stylesheet" type="text/css" href="public/css/reset.css"/>
		<link rel="stylesheet" href="css/head.css"/>
		<link rel="stylesheet" href="css/selSchool.css" />
		<script type="text/javascript" src="public/js/jquery.min.js"></script>
		<script type="text/javascript" src="public/js/public.js"></script>
		<script type="text/javascript" src="public/js/vue.min.js"></script>
		<script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.js" type="text/javascript" charset="utf-8"></script>    
	</head>
	<body>
		<!--头部-->
		<header class="bxg-header">
			<a class="bxg-head-icon bxg-back" href="javascript:history.go(-1);"></a>
			选择学校
			<div class="bxg-position bxg-clear">
				<span class="bxg-head-icon bxg-position-icon"></span>
				<span>定位</span>
			</div>
		</header>
		<div class="bxg-content">
			<div class="bxg-search-btn">
				<a href="" title=""><i></i>搜索学校</a>
			</div>
			<div class="bxg-school" id="school-list">
				<div class="bxg-school-list" v-for="list in lists">
					<div class="bxg-area">{{list.area}}</div>
					<ul>
						<li v-for="school in list.school"><a v-bind:href="school.url" title="">{{school.name}}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="bxg-alert">定位失败</div>
		<script type="text/javascript" src="public/js/jquery-1.8.3.min.js" ></script>
		<!--<script type="text/javascript" src="{$Think.__APPROOT__}/static/js/geolocation.min.js"></script>-->

		<script type="text/javascript">
			$(function(){
//				getLocation();
//				function getLocation(){
//				    var geolocation = new qq.maps.Geolocation("VPTBZ-ZISWI-AU5GE-5CI5U-V7J72-IZFGT", "百信购");
//				    var options = {timeout: 8000};
//				    geolocation.getLocation(showPosition, showErr, options);//精确定位
//				}
//				function showPosition(position) {
//				    $.ajax({
//						type : "get",
//						url:"../index/index/latLng",
//						data :position,
//						success: function(data){		
//							var obj = eval(data); 
//							if (obj.flag) {		
//							    $('.bxg-position span:last-child').html(obj.city);	
//							}else{
//						        $(".bxg-alert").html(obj.msg).show();//错误信息
//						        setTimeout(function(){
//						            $(".bxg-alert").fadeOut(1000);
//						        }, 1000);
//						        $('.bxg-position span:last-child').html('城市');	
//							}
//					    }
//					});
//				};
//				function showErr(){
//					$(".bxg-alert").html("定位失败").show();//错误信息
//					setTimeout(function(){
//						$(".bxg-alert").fadeOut(1000);
//					}, 1000);
//				}
				
				var selSchool = new Vue({
					el: '#school-list',
					data: {
						lists: []
					},
					created: function() {
						this.getSchools();
					},
					methods: {
						getSchools: function() {
							var that = this;
							that.$http({ //调用接口
								method: 'GET',
								url: "json/school.json" //this指data
							}).then(function(res) { //接口返回数据
								this.lists = res.data;
							}, function(error) {
	
							})
						}
					}
				});
			})
		</script>
	</body>
</html>
